<apex:page standardController="Lead" standardStylesheets="true" showHeader="true" sidebar="true" EXtensions="LeadConversionControllerClass1" >

<apex:form id="theForm">



<apex:pageBlock title="Lead Content" mode="edit">
<!-- change starts-->
 <apex:pageMessages > </apex:pageMessages> 
<!-- change ends --> 
<apex:pageBlockSection >
<apex:inputfield value="{!l.lastname}" />

<apex:inputfield value="{!l.company}" />
<apex:inputfield value="{!l.phone}"/>
<apex:inputfield value="{!l.city}"/>
<apex:inputfield value="{!l.country}"/>

</apex:pageBlockSection>
<!-- <apex:actionRegion> -->
    <apex:commandButton value="OK" action="{!convert}" />
    <apex:commandButton value="yes" action="{!yes}" />
    <apex:commandButton value="no" action="{!no}" />
    <!-- apex:commandButton value="Cancel" action="{!}"/-->
<!-- </apex:actionRegion> -->

</apex:pageBlock>

</apex:form>

</apex:page>